body {
  background-color: #002650;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  padding: 0px;
}
h1,
h2,
h3 {
  color: #fff;
}
p {
  color: #a0a0a0;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
  justify-content: space-around;
  gap: 50px;
}
.bt {
  display: flex;
  gap: 15px;
  padding: 10px;
}
.bt button {
  color: #ffffff;
  background: rgba(208, 233, 255, 0.2);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  cursor: pointer;
  gap: 50px;
  padding: 5px 15px 5px 15px;
}
.bt button:active {
  background: linear-gradient(180deg, #1888ef 0%, #009fe9 100%);
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.15);
}

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 50px;
  margin-left: 80px;
  margin-top: 50px;
}
img {
  background-size: cover;
  object-fit: cover;
  cursor: pointer;
}
.img-1 {
  display: block;
  background-repeat: no-repeat;
}

.img-absolute {
  position: absolute;
}
.m-l1 {
  margin-left: 270px;
}
.m-l2 {
  margin-left: 540px;
}
.m-l3 {
  margin-left: 815px;
}
.m-l4 {
  margin-left: 1085px;
}
